:root {
  --nanum: 'Nanum Square AC', 'Nanum Square', 'nanumSquareNeo', sans-serif;

  --black: #000;
  --black100: #1b1b1b;
  --black200: #333333;
  --black300: #494949;
  --black400: #555555;
  --black500: #797979;
 

  --white: #fff;
  --white50: #f0f0f0;
  --white100: #eee;
  --white150: #E8E8E8;
  --white200: #d6d6d6;
  --white300: #dbdbdb;
  --white350: #b3b3b3;
  --white400: #a3a3a3;
  

  --grey: #e5e5e5;
  --grey300: #bbb;

  --red: #ff000f;

  --mainColor: #eed0a3;

  // 폰트 셋팅
  font-family: 'Nanum Square AC', 'Nanum Square', var(--nanum), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
