#dictionaryPage {
  position: relative;
  width: 375px;
  height: 812px;
  margin: 0 auto;
  padding: 11px 20px 0;
  background: #F6F6F6;
  border: 1px solid red;

  #contentsBox {
    margin-top: 32px;
  }
}