#loginPage {
  position: relative;
  width: 375px;
  height: 812px;
  margin: 0 auto;
  background: var(--white);
  border: 1px solid red;

  #colorContainer {
    border-radius: 0 0 50px 50px;
    background-color: var(--mainColor);
    padding: 11px 20px 0;

    #loginHeader {
      nav {
        position: relative;

        .title {
          position: absolute;
          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);
        }

        > ul {
          display: flex;
          align-items: center;
          justify-content: space-between;

          li {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;
          background-color: transparent;
          cursor: pointer;
        }

        img {
          vertical-align: top;
          height: 100%;
        }
      }
    }

    #loginForm {
      margin-top: 200px;

      input {
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;

        &:disabled {
          background-color: var(--white);
        }
      }

      .emailBox {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        span {
          margin: 0 5px;
        }

        .selectBox {
          position: relative;
          label {
            position: absolute;
            top: 50%;
            right: 3px;
            transform: translateY(-50%) rotate(90deg);
            width: 10px;
            height: 10px;
            background-image: url(/src/assets/images/icon/icon_nav_arrow_right.svg);
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 5px;
            font-size: 0;
          }

          select {
            height: 50px;
            margin-left: 5px;
            padding: 0 15px 0 5px;
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            font-size: 0.7rem;
            text-align: center;
          }
        }
      }
    }
  }

  #btnBox {
    margin-top: 20px;
    padding: 0 20px;

    .loginBtn {
      width: 100%;
      height: 50px;
      background-color: #e5e5e5;
      border-radius: 10px;
      cursor: pointer;

      font-size: 0.875rem;
      font-family: var(--nanum);
      font-weight: 800;

      transition: all 0.15s ease;

      &:hover {
        background-color: #1b1b1c;
        color: var(--white);
      }
    }

    .btnNav {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 0.75rem;

      ul {
        display: flex;
        color: #a09e9e;

        li {
          &:first-child {
            margin-right: 10px;
            position: relative;

            &::after {
              position: absolute;
              top: 50%;
              right: -5px;
              transform: translateY(-50%);

              content: '';
              width: 1px;
              height: 0.75rem;
              background-color: #a09e9e;
            }
          }
        }
      }

      .joinBtn {
        color: #2e62c8;
      }
    }
  }

  #loginFooter {
    margin: 30px 20px 0;
    border-top: 1px solid #aaa;
    ul {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 0.75rem;
      color: #a09e9e;

      li {
        &:first-child {
          margin-right: 10px;
          position: relative;

          &::after {
            position: absolute;
            top: 50%;
            right: -5px;
            transform: translateY(-50%);

            content: '';
            width: 1px;
            height: 0.75rem;
            background-color: #a09e9e;
          }
        }
      }
    }
  }
}
